<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457970911968-ftej4b2sja2580jpt65m60oh71irv2j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457970911968-ftej4b2sja2580jpt65m60oh71irv2j1</string>
	<key>API_KEY</key>
	<string>AIzaSyB_g2qNXwgJZNMmq1f6fojWwD4JRP5lRyI</string>
	<key>GCM_SENDER_ID</key>
	<string>457970911968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.driver.license</string>
	<key>PROJECT_ID</key>
	<string>driver-license-6d9e1</string>
	<key>STORAGE_BUCKET</key>
	<string>driver-license-6d9e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457970911968:ios:c143e50e57d7b573f51e85</string>
</dict>
</plist>