<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855984490695-r2ghgkhjnjcp6f93dfopk70uote87f9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855984490695-r2ghgkhjnjcp6f93dfopk70uote87f9u</string>
	<key>API_KEY</key>
	<string>AIzaSyDI5gYkmW7od5GYj7MGK9truWICrx4OMDg</string>
	<key>GCM_SENDER_ID</key>
	<string>855984490695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.driver.license</string>
	<key>PROJECT_ID</key>
	<string>driver-licens</string>
	<key>STORAGE_BUCKET</key>
	<string>driver-licens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855984490695:ios:70f09987c05a6d773856e2</string>
</dict>
</plist>